.ap-home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    url("../../../public/images/AdminPanel-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ap-cntnr
{
padding-top: 100px;
margin-left: 80px;
margin-right: 150px;
font-family: "Muli", sans-serif;
-webkit-font-smoothing: antialiased;
display: flex;
flex-direction: column;
align-items:center;
flex-wrap: wrap;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ap-txt
{
color: white;
align-self:last baseline;
justify-content:center;
padding: 0px;
width:auto;
margin:0px;
font-size: 60px !important;
font-weight: 600 !important;
}

.ap-card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}


.ap-cntnr{
  display:flex;
  justify-content: Center;
}

.ap-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24%; /* Adjust the width as needed */
  border: 0px solid #ccc;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as desired */
  padding: 50px 10px;
}

.ap-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apImg {
  width: 150px; /* Adjust the width as desired */
  height: 150px; /* Adjust the height as desired */
  border-radius: 50%;
  object-fit: cover;
}

.ap-card h1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white !important;
  margin-top: 10px; /* Adjust the margin as needed */
  font-size: 20px; /* Adjust the font size as needed */
  text-align: center;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

.ap-card h1:hover {
  background-color: red;
}




  