.footer{
    background-color: black;
    color: white;
    padding-top: 100px;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 10px;
    
}
.footer-section a{
    color:white;
    text-decoration: none;
    width:100%;
}
.fa-social a:not(:last-child) {
    margin-right: 10px;
  }
  