.footer{
    background-color: black;
    color: white;
    padding-top: 100px;
    width: 100%;
    max-width: 100%;
}
.footer-section a{
    color:white;
    text-decoration: none;
    width:100%;
}