.hm
{
  background-image: url("../../../public/images/aboutUs.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height:120vh;
  width:100%;
}
.hm.txt
{
  padding-top: 300px;
  margin-right: 90px;
}
.cntnr
{
  padding-top: 260px;
  margin-left: 80px;
  margin-right: 150px;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
}
.txt
{
  color: white;
  align-self:last baseline;
  justify-content:center;
  padding: 0px;
  height:45vh;
  width:80vh;
  margin:0px;
}
.set-bg
{
  background-image: url("../../../public/images/aboutUs2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height:110vh;
  width:100%;
}