 .ae-cntr {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    margin-left: 20px;
    height: 100vh;
    width:70%;
  }
  
  .f-name
  {
    padding: 10px;
    align-self: center;
  }
  .ae-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 60px;
    margin-left: 60px;
    background-color: #f5f5f5;
    box-shadow: 2px 100px 100px 5px ;
    border-radius: 5px;
    padding-left: 30px;
  }
  
  .ae-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .ae-container input[type="file"],
  .ae-container input[type="text"],
  .ae-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .ae-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .ae-container button[type="submit"] {
    background-color: #2196f3;
  }
  
  .ae-container button[type="button"] {
    background-color: #ccc;
    color: #555;
    font-size: 18px;
    margin-left: 5px;
    border: none;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
  }
  
  .ae-container button[type="button"]:hover {
    background-color: #999;
    color: #fff;
  }
  
  /* Add your own styles as needed */
  