 
.userpanel
{
    margin: 0px;
    padding: 0px;
    background-image: url("../../../public/images/usbg11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200vh;
    width:100%;
    justify-content: space-between;
}
.qoute
{
    margin-top: 30px;
    font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.ulForUP{
    display: flex;
    flex-direction: row;
}
.ilForUP
{
    list-style: none;
}

.mainConForUP
{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    height: min-content;
    justify-content: center;
    gap:100px;
}
.mainConForUP img{
    width: 250px;
    height: 250px;
}
.exerciseForUP
{
    margin-top: 30px;
    margin-bottom: 220px;
    margin-right: -120px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    height:150px;
    width:20%;
    
}
.eqouteForUP
{
    align-self: center;
}
.ulForUP
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ebuttonForUP
{
    text-decoration: none;
    color:black;
} 

.ebooksForUP
{
    margin-top: 30px;
    margin-bottom: 220px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    height:150px;
    width:20%;
}   


 .diet
{
    margin-top: 30px;
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    height:150px;
    width:20%;
}  
.dqoute
{
    align-self: center;
}
.nImg
{
    height: 30%;
    width: 30%;
    border-radius: 10px;
}  