.userpanel
{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#1d4350, #a43931);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:130vh;
    width:100%;
}
.qoute
{
    margin-top: 30px;
    font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
}





ul{
    display: flex;
    flex-direction: row;
}
li
{
    list-style: none;
}
.trainer
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 10px ;
    height: 180px;
    width: 90%;
}
.eqoute
{
    align-self: center;
}
.trainer,ul
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ebutton, a
{
    text-decoration: none;
    color:rgb(68, 250, 123);
}

/* .ebooks
{
    margin-top: 30px;
    display: flex;
    align-items:first baseline;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px ;
    height: 180px;
    width: 90%;
} */
 .diet
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px ;
    height: 180px;
    width: 90%;   
}  
.dqoute
{
    align-self: center;
}
.diet,ul
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nImg
{
    height: 60px;
    width: 60px;
}